<?xml version="1.0" encoding="UTF-8"?>

<Configuration status="WARN">

<properties>
      <property name="basepath">./logs</property>
</properties>

<Appenders>
    <Console name="Console" target="SYSTEM_OUT">
        <PatternLayout pattern="%d{HH.mm.ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
    </Console>

    <RollingFile name="File"
                 fileName="${basepath}/automation.log"
                 filePattern="${basepath}/automation-%d{yyyy-MM-dd}.log">

        <PatternLayout pattern="%d{HH.mm.ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>

        <Policies>
            <SizeBasedTriggeringPolicy size="5000"/>
        </Policies>
    </RollingFile>
</Appenders>

 <Loggers>
<Root level="Debug">
    <AppenderRef ref="Console"/>
    <AppenderRef ref="File"/>
</Root>

  </Loggers>
</Configuration>
